
.image {
  object-fit: cover;
  margin: 0 auto;
  width: 100%;
}

.modal-button {
    background: #d68eae  !important;
    color: #fff !important;
    border-radius: 5px !important;
    transition: 0.3s !important;
    border: 1px solid #d68eae !important;
  } 

  .modal-button:hover {
    background: #fff  !important;
    color: #d68eae !important;
    border: 1px solid #d68eae !important;
  } 
  